<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <!--
        Zoom Template
        http://www.templatemo.com/tm-414-zoom
        -->
        <title>Casent - Cassava Farming Modernizied</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Google Web Font Embed -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/templatemo_main.css">
    </head>
    <body>
        <div id="main-wrapper">
            <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center templatemo-logo margin-top-20">
                <h1 class="templatemo-site-title">
                    <a href="#">CASENT LTD</a>
                </h1>
                <!-- <h3 class="templatemo-site-title">
                	by <a href="#"><span class="blue">template</span><span class="green">mo</span></a>
                </h3> -->
            </div>

            <div class="image-section">
                <div class="image-container">
                    <img src="images/Cassava-farm.jpg" id="menu-img" class="main-img inactive" alt="Zoom HTML5 Template by templatemo.com">
                    <img src="images/Cassavaproducts.jpg" id="products-img" class="inactive" alt="Product">
                    <img src="images/zoom-bg-3.jpg" id="services-img"  class="inactive" alt="Services">
                    <img src="images/zoom-bg-4.jpg" id="about-img" class="inactive" alt="About">
                    <img src="images/zoom-bg-5.jpg" id="contact-img" class="inactive" alt="Contact">
                    <img src="images/twofarmers.jpg" id="company-intro-img" class="main-img inactive" alt="Company Intro">
                    <img src="images/zoom-bg-7.jpg" id="testimonials-img" class="main-img inactive" alt="Testimonials">
                </div>
            </div>

            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 templatemo-content-wrapper">
                    <div class="templatemo-content">

                        <section id="menu-section" class="active">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                    <a href="#products" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <i class="fa fa-cubes"></i>
                                            <h2>Products</h2>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                    <a href="#services" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <i class="fa fa-pagelines"></i>
                                            <h2>Our Farm</h2>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                    <a href="#about" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <i class="fa fa-users"></i>
                                            <h2>About Us</h2>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 margin-bottom-20">
                                    <a href="#contact" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <i class="fa fa-envelope"></i>
                                            <h2>Contact Us</h2>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
                                    <a href="#company-intro" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Introduction to Company</h2>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
                                    <a href="#testimonials" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Processing Plant and Facilities</h2>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </section><!-- /.menu-section -->
                        <section id="products-section" class="inactive">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 margin-bottom-20">
                                    <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                        <h2>Cassava</h2>
                                        <p>Casent will produce HQCS (High Quality Cassava Starch) from a world class processing plant to be built by GEA company of Germany. The HQCS will primarily be exported to overseas market and some of it used internally. We are hoping to also use it to produce cassava beer with the right International Brewery
Company possibly in conjunction with an existing brewery in Delta State, Nigeria. Casent will look forward to possibly producing other types of sugar from the HQCS.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                        <h2>HQCS</h2>
                                        <p><span class="green">High Quality Cassava Starch</span> High Quality Casava Starch can be used for a multitude of purposes. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section><!-- /.product-section -->
                        <section id="services-section" class="inactive">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 col-md-12 col-lg-12 black-bg">
                                        <h2>Farm Yeild</h2>
                                        <p>With 2000 hectares of land we have a bountiful area to grow and expand into. Our initial venture will be to harvest mostly Casava but we are looking into novel forms of farming including hydroponic and vertical farming for fresh urban-based foods being produced at an optimal price.  </p>
                                        <p> It is estimated that the farm in the first three years will harvest at least 10 Tons per hour. CASENT will harvest the cassava 7 days a week. It will also work with a cooperative of farmers over the years to increase input to the processing plant. The processing plant will produce 60T per day of HQCS in the first year, 100T per day in the second year and 120T per day yearly
thereafter</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section><!-- /.services-section -->
                        <section id="about-section" class="inactive">
                            <div class="row">
                                <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="text-center">Founders</h2>
                                    <div class="col-sm-6 col-md-6">
                                      <h2>Victor Izegbu</h2>
                                        <p>A retired Professor who is now devoting his life to improving the quality of life to citizens in his
native Nigeria after 35 yrs outside the continent of Africa. He has a wide ranging experience in
management and a Director of several companies. </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                      <h2>Juliana Edewor</h2>
                                        <p>A seasoned businesswoman with over 20 years of experience in the Food industry and is CEO of her own
group of companies and is a director of many others. She attended university in the US up to MBA degree level. She is passionate about agriculture and agribusiness. She is also a major Art collector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section><!-- /.about-section -->
                        <section id="contact-section" class="inactive">
                            <div class="row">
                                <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="text-center">Contact Us</h2>

                                    <div class="col-sm-12 col-md-12">
                                      <p>
                                        Our main office is in Lagos and the farm office will be in Delta State.We may be contacted at the address below:
                                      </p>
                                    </div>

                                    <div class="col-sm-6 col-md-6">
                                        <div id="map-canvas"></div>
                                        <p>8a Ladino Oluwole, GRA, Apapa, Lagos, Nigeria</p>
                                    </div>

                                    <div class="col-sm-6 col-md-6 margin-bottom-20">
                                        <form action="#" method="post">

                                                <div class="form-group">
                                                    <!--<label for="contact_name">Name</label>-->
                                                    <input type="text" id="contact_name" class="form-control" placeholder="Name" />
                                                </div>
                                                <div class="form-group">
                                                    <!--<label for="contact_email">Email Address</label>-->
                                                    <input type="text" id="contact_email" class="form-control" placeholder="Email Address" />
                                                </div>
                                                <div class="form-group">
                                                    <!--<label for="contact_message">Message</label>-->
                                                    <textarea id="contact_message" class="form-control" rows="7" placeholder="Write a message"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Send</button>

                                        </form>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section><!-- /.contact-section -->
                        <section id="company-intro-section" class="inactive">
                            <div class="row">
                                <div class="black-bg col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="text-center">Company Intro</h2>
                                    <div class="col-sm-12 col-md-12">

                                      <p>
                                        Casent is a world class new agribusiness company set up in Delta State of Nigeria with offices in
both Delta State and Lagos. It has been set up to take advantage of the diversification of the
Nigerian economy into agriculture amongst others. Casent will farm High Yield Cassava and
process it into High Quality Cassava Starch for export using best international practices.
It will do it in conjunction with the progressive economic and agricultural policies of Delta State and
the Federal Republic of Nigeria.Casent will also work with International Institute of Tropical
Agriculture IITA and GEA of Germany.</p>


                                      <!-- <p>We have been set up as a novel Agriculture company to farm cassava and process it to High Quality Cassava Starch HQCS. Casent together with a local community in Oshimili North Local Government Area of
                                          Delta State in Nigeria, have acquired 2000 acres of land to
                                          farm high yield cassava. The International Institute of
                                          Tropical Agriculture IITA in Ibadan, has agreed to work
                                          with Casent as consultants initially for 5 years.</p>
                                      <p>The consultancy agreement
                                          will include sourcing high quality staff, providing the best
                                          quality high yield cassava and supervising farming
                                          processes and techniques on a regular basis. It will also
                                          oversee the processing of the cassava to HQCS making
                                          sure it's of the highest international quality for export if
                                          necessary. </p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section><!-- /.company-intor-section -->
                        <section id="testimonials-section" class="inactive">
                            <div class="row">
                                <div class="black-bg col-sm-12 col-md-12 col-lg-12">

                                    <h2 class="text-center">Processing Plant and Facilities</h2>
                                    <div class="col-sm-12 col-md-12">
                                        <p>At Casent we are planning a full processing facility from the German company GEA Ltd, which will process the cassava from our plantation. There are 9 major sections to our facility: Pretreatment, Milling, First de-sanding, Extraction, Pulp de-watering, Second de-sanding, Concentration & refining, Fine Fiber treatment and finally  Peeler water recovery. </p>
                                        <p>
                                          Our 9 stage process ensures the highest quality cassava starch for our customers. The technology used within our plant can even be used to process a fairly wide range of raw materials whilst still being very energy and resource efficent to reduce operating costs and increase plant profitability. The Plant can produce HQCS at a rate of over 100 Tonnes of Cassava per day, and is still efficeint at lower production rates.

                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  pull-right">
                                    <a href="#menu" class="change-section">
                                        <div class="black-bg btn-menu">
                                            <h2>Back to menu</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section><!-- /.company-intor-section -->

                    </div><!-- /.templatemo-content -->
                </div><!-- /.templatemo-content-wrapper -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
                    <p class="footer-text">Copyright &copy; 2016 CASENT LTD</p>
                </div><!-- /.footer -->
            </div>

		</div><!-- /#main-wrapper -->

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div><!-- /#preloader -->

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/templatemo_script.js"></script>

    </body>
</html>
